html {
    text-align: center;
    /* width: 80vw; */
    margin: 3rem 20rem;
    background-color: rgb(241, 221, 228);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label {
        color: rgb(127, 127, 131);
        font-family: "Ribeye", serif;
    }


    a,
    ul,
    li,
    ol,
    a,
    p,
    select,
    option,
    input,
    span,
    button {
        font-size: 1.6rem;
        margin: 0.2em;

    }

    .wrapper {
        background-color: rgb(253, 253, 250);
        padding: 2rem;
        border-radius: 2rem;

        form {
            display: grid;
        }

        .list {
            background-color: rgb(246, 242, 244);
            padding: 2rem;
            border-radius: 2rem;
        }


    }
}

.task-container {
    border: 1px solid beige;
    margin: 1rem;
    background-color: rgb(249, 249, 246);
    border-radius: 2rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


    .task-item {
        color: palevioletred;
        font-family: "Nerko One", cursive;
    }


    .task-item.doing {
        text-decoration: underline;
    }

    .task-item.check {
        text-decoration: line-through;
        color: grey;
    }

    .task-time {
        align-self: center;
    }

    .done-btn {
        background-color: rgb(249, 249, 246);
        border: none;
        cursor: pointer;
    }
}