html {
    /* text-align: center; */
    /* width: 80vw; */
    margin: 3rem 20rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label,
    a,
    ul,
    li,
    ol,
    a,
    p,
    select,
    option,
    input,
    span,
    button {
        font-size: 1.2rem;
        margin: 0.2em;
    }

    .wrapper {



        form {
            display: grid;
        }


    }
}

.task-item {
    color: grey;
}


.task-item.doing {
    text-decoration: underline;
}

.task-item.check {
    text-decoration: line-through;
    color: blue;
}